
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
overflow-x: hidden;
background-image: "C:\Users\HP\Pictures\icey2.png";
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.upcard{
  margin-top: 50px;
  margin-left: 250px;
  font-size: 100px
}

.card{
height: 300px;
margin-top: 170px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.nav-brand{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #FFFFFF
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFFFFF;
}

.social_icon span:hover{
color: black;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
color: white;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #f8f9fa00;
color: #FFFFFF;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: #FFFFFF;
align-items: center;
align-content: center;
right: 50%;
background-color: #0b0019a1;
width: 100px;
margin-left: 125px

}
.form-group{
  align-content: center;
  alignment-adjust: middle;

}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#question-field{
  margin: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-primary {
  background-color: #0753f3;
}

.shadow-box{
  padding: 10px;
  border-style: solid;
  box-shadow: 5px 5px #0753f3;
}
