
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  width: 100%;
overflow: auto;

background-repeat: no-repeat;
background-size: cover;

background-position: center;
height: 100%;
/*font-family: 'Pacifico', cursive !important;*/
}



.grid-container {
  margin-left: 50%;
  margin-right: 50%;
}

.row{
  width:100%;
}

.container{
  margin-top: 50px;
  padding-right: 0;

  display: grid;
  margin-left: 0 !important;
  margin-right: 0 !important;
}



.login-img{
  margin-top:60px;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  padding-left:300px;
  padding-right: 300px;
}

.modal-content {

  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */

  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}

  to {transform: scale(1)}
}


.dflex{
  background-position: right;
  height:auto;
}

.navbar{
  position: fixed;
  margin-top: 0;
  margin-bottom: 20px;
}

.upcard{
  margin-top: 50px;
  margin-left: 250px;
  font-size: 100px
}

/*.white{
  color: white;
  opacity: 100;
}
*/
.scrollmenu{
  margin-left: 50px;
  margin-right: 50px;
  width: auto;
  padding: 10px ;
  background-color: #0056b3;
  opacity: 0.7;
}

.card{
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 100px;
height: 300px;
width: 400px;
background-color: rgb(29,62,65,0.3) !important;
}

.login-card{
  margin-top: 175px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 400px;
  width: 100px !important;
  border: 100px;
  background-color: rgba(54, 130, 137, 0.3)!important;
}

.card-columns {

  column-count:3 !important;

}

.nav-brand{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #02294f;
}

.card-header h3{
color: white;
}


.input-group-prepend span{
width: 50px;
background-color: #f8f9fa00;
color: #FFFFFF;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: #FFFFFF;
align-items: center;
align-content: center;
right: 50%;
background-color: #0b0019a1;
width: 100px;
margin-left: 125px

}
.form-group{
  align-content: center;
  alignment-adjust: middle;

}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#question-field{
  margin: 20px;
  margin-top: 5px;
  margin-left: 5px;
}



.btn-primary {
  background-color: #0753f3;
}

.shadow-box{
  height: 650px;
  background-color: #29275f66;
  padding: 10px;
  border-style: solid;
  /*box-shadow: 5px 5px #0753f3;*/
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

div.scrollmenu div:hover {
    background-color: #777;
}


.logout_btn{
  color:#29275f ;margin-right:20px;border-right:solid;
  padding-right: 20px !important;
  font-size: 25px !important;
  color: #02294f !important;
  font-family: 'Pacifico', cursive !important;
}

::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0056b3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.site_btn{
  background-color: #f64b53;
  color: #fff;
}

.blue-btn{
  background-color:#02294f !important;color:white !important;
}
/*#create_test{
  position: absolute !important;
  bottom: 0 !important;
  margin-bottom: 20px !important;
}*/
