{% extends 'webapp/template.html' %}

{% block title %}
Answer Test
{% endblock %}
{% block navs %}
<ul class="nav navbar-nav navbar-right">
    <li ><a href="/logout" class="logout_btn">Logout</a></li>
  </ul>
{% endblock %}
{% block main %}
<div class="container">


<ol class="white" style="margin-left:200px;margin-right:200px;">
  {% for item in questions %}
  <li color="white">
    <h5  class="white">{{ item.question }}</h5>
    <input type="radio" name="{{ forloop.counter }}" ><span class='white'>{{ item.optionA }}</span><br>
    <input type="radio" name="{{ forloop.counter }}" ><span class='white'>{{ item.optionB }}</span><br>
    <input type="radio" name="{{ forloop.counter }}"><span class='white'>{{ item.optionC }}</span><br>
    <input type="radio" name="{{ forloop.counter }}"><span class='white'>{{ item.optionD }}</span>
  </li>
  {% endfor %}
</ol>
<button type="button" class="btn " style="background-color:#02294f !important;color:white !important;width:100px;margin-left:230px;margin-bottom:40px">Submit Test</button>
</div>


{% endblock %}
