{% extends 'webapp/template.html' %}

{% block title %}
Answer Test
{% endblock %}

{% block body %}
<ol>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>
  <li>
    <h5  class="white">Which is used for reading streams of raw bytes such as image data and for reading streams of characters, consider using FileReader?</h5>
    <input type="radio" name='1' class='white'>FileInputStream<br>
    <input type="radio" name='1' class='white'>FileOutputStream<br>
    <input type="radio" name='1' class='white'>Both A & B<br>
    <input type="radio" name='1' class='white'>None of the above
  </li>

</ol>


{% endblock %}
