{% extends 'webapp/template.html' %}

{% block title %}
Answer Test
{% endblock %}
{% block navs %}
<ul class="nav navbar-nav navbar-right">
  <li ><a href="/student/course/{{course_id}}"  class="logout_btn">Back</a><a href="/logout" class="logout_btn">Logout</a></li>


  </ul>
{% endblock %}
{% block main %}
<div class="container" style="max-width: 100% !important;">
<form action="/student/submit_test/{{test_id}}" method="post">
  {% csrf_token %}

<ol class="white" style="margin-left:200px;margin-right:200px;">
  {% for item in questions %}
  <li color="white">
    <h5  class="white">{{ item.question }}</h5>
    <label>Select option</label>  <select  name="{{ forloop.counter }}">
      <option value="A">A.{{ item.optionA }}</option>
      <option value="B">B.{{ item.optionB }}</option>
      <option value="C">C.{{ item.optionC }}</option>
      <option value="D">D.{{ item.optionD }}</option>
    </select>

  {% endfor %}
</ol>
<button type="submit" class="btn " style="background-color:#02294f !important;color:white !important;width:100px;margin-left:230px;margin-bottom:40px">Submit Test</button>
</form>
</div>


{% endblock %}
