{% extends 'webapp/template.html' %}

{% block title %}
Create Test
{% endblock %}
{% block navs %}
<ul class="nav navbar-nav navbar-right">
    <li ><a href="/logout" class="logout_btn">Logout</a></li>
  </ul>
  {% endblock %}

{% block main %}
<div class="row" style="margin-top:20px">


  <div class="col-lg-1">

  </div>
<div class="col-lg-4 shadow-box">
  <form id="question-field" >
    <div class="form-group">
      <h4 class="white">Add questions here</h4>
    </div>

    <fieldset class="form-group">
      <label for="formGroupExampleInput"  class="white">Question</label>
      <textarea type="text" class="form-control" id="question" rows=5></textarea>
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2"  class="white">Option A</label>
      <input type="text" class="form-control" id="option-a">
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2"  class="white">Option B</label>
      <input type="text" class="form-control" id="option-b">
    </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2"  class="white">Option C</label>
      <input type="text" class="form-control" id="option-c" >
  </fieldset>
    <fieldset class="form-group">
      <label for="formGroupExampleInput2"  class="white">Option D</label>
      <input type="text" class="form-control" id="option-d" >
    </fieldset>
    <button type="button"  class="btn site_btn" id="add_question">Add Question</button>
  </form>
</div>
<div class="col-lg-2">

</div>

<div class="col-lg-4  shadow-box" style="overflow-y: scroll !important;">
  <h4 class="white">Preview</h4>
  <ol id="questions">

  </ol>

  <button type="button"  class="btn site_btn" id="create_test" disabled>Create Test</button>

</div>
<div class="col-lg-1">

</div>


</div>



{% endblock %}
