{% extends 'webapp/template.html' %}

{% block title %}
Create Test
{% endblock %}
{% block navs %}

<ul class="nav navbar-nav navbar-right" >


  <li ><a href="/teacher/course/{{course_id}}"   class="logout_btn">Back</a><a href="/logout" class="logout_btn">Logout</a></li>




  
  </ul>

  {% endblock %}

{% block main %}

<div class="row" style="margin-top:40px">


  <div class="col-lg-1">

  </div>



<div class="col-lg-10  shadow-box" style="overflow-y: scroll !important;">
  <h4 class="white">Preview</h4>
  <button class="btn site_btn" id="add_question">Add Question</button>

  <form action="/teacher/{{course_id}}/create_test" method="post">
    {% csrf_token %}
  <input name="count" id="count" hidden value=0>
  <ol id="questions">

  </ol>

  <button type="submit"  class="btn site_btn" id="create_test" disabled>Create Test</button>

  </form>
</div>
<div class="col-lg-1">

</div>


</div>



{% endblock %}
