{% extends 'webapp/template.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block navs %}
<ul class="nav navbar-nav navbar-right">
    <li ><a href="/logout" class="logout_btn">Logout</a></li>
  </ul>
  {% endblock %}
{% block main %}
{% load static %}


<style>
  body{
    background-color:#fff !important;

  }
  </style>
<div class="container">

<div class="card-columns">
  {% for course in courses %}
  <div class="card" style="background-color=#10946F !important">
  <div class="card-body">
    <h4 class="card-title">{{course.course_name}}</h4>
    <p class="card-text">{{course.description}}</p>
    <a class="btn card-link" href="/teacher/course/{{course.course_id}}" style="background-color:#02294f;color:white">Go To Course</a>
  </div>
</div>
{% endfor %}



</div>
</div>




{% endblock %}
