{% extends 'webapp/template.html' %}
{% block title %}
Responses for :Test{{ test_id }}
{% endblock %}

{% block navs %}
<ul class="nav  navbar-right">
  <li ><a href="/student/course/{{course_id}}"  class="logout_btn">Back</a></li>

    <li ><a href="/logout" class="logout_btn">Logout</a></li>
  </ul>

  {% endblock %}

  {% block main %}

<div class="row" style="margin-top:20px">

  <div class="col-lg-12">
    <h1>Responses in {{course_name}} test {{test_id}} given on {{test.date}}</h1>
    <table class="table">

      <thead>
        <tr>
          <th>Question</th>
          <th>Correct Option</th>
          <th>Selected Option</th>
          <th>Score</th>

        </tr>
      </thead>

      <tbody>

        {% for question in questions %}
        <tr>

          <td>{{ question.question }}</td>
<td>{{ question.correct_option }}</td>
<td>{{ question.selected_option }}</td>
<td>{{ question.score }}</td>

        </tr>
        {% endfor %}
        <tr>
          <th></th>
          <th></th>
          <th>Maximum Marks</th>
          <th>{{ total }}</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>{{ total_score }}</th>
        </tr>
      </tbody>


    </table>

  </div>
</div>
<input type="button" style="width:75px"onclick="window.print()" value="Print" class="btn">


  {% endblock %}
