<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'webapp/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
 <!--Bootsrap 4 CDN-->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
   <!--Fontawesome CDN-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




  <script src='{% static "webapp/scripts.js" %}'></script>
<title>
  {% block title %}{% endblock %}
</title>
</head>
<body  background="https://assets.website-files.com/5b6919571e6e11617205ad0a/5b7115f441c61660716e6258_bg.svg">

  <nav class="navbar navbar-default fixed-top">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-brand" href="/">TestBucket</a>
    </li>


  </ul>
  {% block navs %}

    {% endblock %}
</nav>


  </div>
</div>
<div class="container">
  {% block main %}{% endblock %}

</div>


</body>
</html>
